.header-container {
  border-bottom: 1px solid #dfdfdf;
}

.section {
  height: 94.3vh;

}

.nav-bar {
  height: 4vh;
}

.link {
  color: #333;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.app {
  height: 100vh;
}
