.header-container {
  border-bottom: 1px solid #dfdfdf;
}

.section {
  height: 94.3vh;

}

.nav-bar {
  height: 4vh;
}

.link {
  color: #333;
}

.home {
  padding: 50px;
  border-bottom: 1px solid #f7f7f7;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  padding-top: 5px;
}

.intro-rs {
  color: #595959;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  display: block;
}

.intro-slogan {
  display: block;
  font-size: 20px;
  line-height: 1rem;
  font-weight: 600;
  color: #3d3d3d;
  padding-top: 10px;
}

.intro {
  background-color: #f7f7f7;
  height: 400px;
}

.app {
  height: 100vh;
}
